<div>
<table>
    <tr>
        <th> User </th>
        <th> Delete </th>
    </tr>
    {{#each users}}
    <tr> 
        <td> {{this.username}} </td>
        <td> <button id="deleteUser"> Delete </button> </td>
    </tr>
    {{/each}}
</table>
</div>