<div id='admin'>
<script src='/admin.js'></script>
<table class="table">
    <tr class="table">
        <th class="table"> User </th>
        <th class="table"> Delete </th>
    </tr>
    {{#each users}}
    <tr class="table"> 
        <td class="table"> {{this.username}} </td>
        <td id = '{{this.id}}' class="button"> <button class="deleteUser"> Delete </button> </td>
    </tr>
    {{/each}}
</table>
</div>
