<label for="newUsername"> New Username: </label>
<input id="newUsername" name="newUsername" type="text" size="12">
<button id="updateUsername"> Update Username: </button>

<label for="newPassword"> New Password: </label>
<input id="newPassword" name="password" type="text" size="12">
<button id="updatePassword"> Update Password: </button>
