<table id="table">
    <tr id="table">
        <th onclick="sortTable(0)" id="table"> User </th>
        <th onclick="sortTable(1)" id="table"> Highscore </th>
    </tr>
    {{#each users}}
    <tr id="table"> 
        <td id="table"> {{this.username}}</td>
        <td id="table"> {{this.highscore}}</td>
    </tr>
    {{/each}}
</table>
<script src='/leaderboards.js'></script>
