<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link href="style.css" rel="stylesheet">
</head>

<body>

<table>
    <tr>
        <th> User </th>
        <th> Highscore </th>
    </tr>
    {{#each users}}
    <tr> 
        <td> {{this.user}} </td>
        <td> {{this.highscore}} </td>
    </tr>
    {{each}}
</table>

</body>

</html>
    