@CHARSET "UTF-8";

#app{
	display: flex;
	flex-direction: row;
	width: 99%;
	height: 750px; 
	border: 10px solid black;
}

#centre{
	display: block;
}

#LogMessage{
	font-size: 25pt;
}

#errMsg{
	font-size: 15pt;
}

#gameCanvas{
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
border: 10px solid black;
}

#sidebar{
	display: flex;
	flex-direction: column;
	background: black;
	position: relative;
	flex-grow: 0;
	border: 10px solid purple;
	width: 25%;
	height: 730px;
}
p{
	color: purple;
}
#scoreText{
	color:black;
	font-size:36pt;
	font-family: "serif";
	text-align: center;
}

#loginbar{
	background: black;
	color: purple;
	border: 10px solid black;
	flex-grow: 3;
	text-align: center;
	font-size:48pt;
	font-family: "serif";
}

#leaderboard{
	border: 10px solid black;
	flex-grow: 2;
	text-align: center;
	font-size:24pt;
	font-family: "serif";
}

#editUser{
	border: 10px solid black;
	flex-grow: 2;
	text-align: center;
	font-size:24pt;
	font-family: "serif";
}

#admin{
	height: 750px;
	overflow: scroll;
}

#leaderboards{
	height: 750px;
	overflow: scroll;
}

#snakeButton{
	border: 10px solid black;
	flex-grow: 2;
	text-align: center;
	font-size:48pt;
	font-family: "serif";
}

.bar:hover{
	background: purple;
	color: black;
}

#mainSpace{
	flex-grow: 1;
	background: purple;
}

#editUserPage{
	text-align: center;
	font-size:24pt;
	font-family: "serif";
}

.button{
	background-color: black;
	color: purple;
	text-align: center;
	font-size:18pt;
	border: purple;
}

.table{
	border: 5px solid black;
	text-align: center;
	font-size:24pt;
	font-family: "serif";
}

.deleteUser{
	background-color: black;
	color: purple;
	text-align: center;
	font-size:18pt;
	border: purple;
}

.error{
	color: black;
	text-align:center;
	font-size: 18pt;
}
