<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="style.css" rel="stylesheet">
</head>
<body>
<div id="app">

	<div id="sidebar"> 
		<div id="loginbar"> 
			<label for="username"> Username: </label>
			<input id="username" name="username" type="text" size="12">
			 
			<label for="password"> Password: </label>
			<input id="password" name="password" type="text" size="12">
			
			<button id="login"> Log In </button>
			<button id-"signUp"> Sign Up</button>
		</div>
		<div id="leaderboard" class="bar"> Leaderboards </div>
		<div id="admin" class="bar"> Admin Page </div>
        <div id="snakeButton" class="bar"> Play Snake </div>
	</div>
	
	<div id="mainSpace"> 
	{{{body}}}
	</div>
</div>	
<script src='/snake.js'></script>
</body>
</html>